/* Resets default margin, padding, and box-sizing of all elements, and sets a background color */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #363535;
    }
    /* Styles the header, setting it to flex, centering its contents vertically and horizontally, and setting its font-family, color and padding */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    padding-top: 5px;
    padding-bottom: 5px;
    color: blanchedalmond;
}
    
    /* Sets the background video element to be fixed, covering the entire viewport, and placed behind all other elements */
.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }
    
    /* Uses media queries to handle changes in aspect ratio of the viewport, and adjusts the size of the video accordingly */
 @media (min-aspect-ratio: 16/9){
    #bgvideo{
    width: 100%;
    height: auto;
    }
}
 @media (max-aspect-ratio: 16/9){
    #bgvideo{
    width: auto;
    height: 100%;
    }
}
    
    /* Styles the preview image, setting its height, width, position to absolute, and centering it horizontally and vertically with translate and margin */
#mintpreview {
    height: 300px;
    width: 350px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.box1 {
    display: flex; /* use flexbox for layout */
    position: absolute; /* position the element absolutely within its container */
    top: 25px; /* set the top distance from the top of the container */
    right: 10px; /* set the right distance from the right of the container */
}

.box2 {
    display: flex;/* use flexbox for layout */
    position: absolute;/* position the element absolutely within its container */
    top: 88%; /* sets the distance of the element from the top of the page */
    right: 47%; /* sets the distance of the element from the right of the page */
}
    
.button1 {
    font-family: 'Press Start 2p'; /* sets the font for the button */
    font-size: 1em; /* sets the font size for the button */
    font-weight: 800; /* sets the font weight for the button */
    padding: 10px 20px 10px 20px; /* sets the padding for the button */
    color: #363535; /* sets the color of the button text */
    border: none; /* removes the button border */
    border-radius: 0px; /* sets the border radius to 0px */
    background: rgb(138, 115, 115); /* sets the background color for the button */
    text-decoration: none; /* removes the underline from the button text */
    cursor: pointer; /* sets the cursor to a pointer when hovering over the button */
    transition: all 0.3s ease-out; /* applies a transition effect to all properties that change */
}
    
.button1:hover {
    background-color: rgb(184, 0, 0); /* sets the background color of the button on hover */
    color: rgb(31, 26, 26); /* sets the color of the button text on hover */
}
    
.overlay1 {
    position: absolute; /* sets the position of the overlay to absolute */
    top: -200px; /* sets the distance of the element from the top of the page */
    bottom: 0; /* sets the distance of the element from the bottom of the page */
    left: 0; /* sets the distance of the element from the left of the page */
    right: 0; /* sets the distance of the element from the right of the page */
    background: rgba(0, 0, 0, 0.8); /* sets the background color and opacity of the overlay */
    color: rgb(138, 115, 115); /* sets the color of the text inside the overlay */
    visibility: hidden; /* sets the visibility of the overlay to hidden */
    opacity: 0; /* sets the opacity of the overlay to 0 */
    transition: all 0.3s ease; /* applies a transition effect to all properties that change */
}
    
.overlay1:target {
    visibility: visible; /* sets the visibility of the overlay to visible when the URL contains the ID of the overlay */
    opacity: 1; /* sets the opacity of the overlay to 1 */
    top: 0px; /* sets the distance of the element from the top of the page to 0px */
}
    
.popup1 {
    border: none; /* removes the border of the popup */
    margin: 70px auto; /* sets the margin of the popup */
    padding: 20px; /* sets the padding of the popup */
    border-radius: 5px; /* sets the border radius of the popup */
    width: 20%; /* sets the width of the popup */
    position: relative; /* sets the position of the popup to relative */
    background: #363535; /* sets the background color of the popup */
    color: rgb(138, 115, 115); /* sets the color of the text inside the popup */
    z-index: 2; /* sets the z-index of the popup */
}

.popup1 h2 {
    color: rgb(138, 115, 115); /* sets the color of the heading to a dark reddish-brown */
    font-family: 'Press Start 2p'; /* sets the font family to 'Press Start 2p' */
    margin-bottom: 20px; /* adds 20px margin to the bottom of the heading */
    text-align: center; /* centers the text of the heading */
    overflow: auto; /* sets the overflow property to auto, which displays scrollbars when necessary */
}

.popup1 .close1 {
    position: absolute; /* sets the position of the close button to absolute */
    top: 5px; /* sets the distance from the top edge of the parent element to the top edge of the button */
    right: 10px; /* sets the distance from the right edge of the parent element to the right edge of the button */
    transition: all 100ms; /* adds a smooth transition of 100 milliseconds to all CSS properties */
    font-size: 21px; /* sets the font size of the button to 21 pixels */
    font-weight: bold; /* sets the font weight of the button to bold */
    text-decoration: none; /* removes any default text decoration, such as an underline */
    color: rgb(138, 115, 115); /* sets the color of the button to a dark reddish-brown */
}

.popup1 .close1:hover {
    color: red; /* changes the color of the close button to red when the mouse hovers over it */
}

/* styles repeated for the '2' sections */
.button2 {
    font-family: 'Press Start 2p';
    font-size: 1em;
    font-weight: 800;
    padding: 10px 20px 10px 20px;
    color: #363535;
    border: none;
    border-radius: 0px;
    background: rgb(138, 115, 115);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button2:hover {
    background-color: rgb(184, 0, 0);
    color: rgb(31, 26, 26);
}

.overlay2 {
    position: absolute;
    top: -200px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(138, 115, 115);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
    top: 0px;
}

.popup2 {
    border: none;
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    position: relative;
    background: #363535;
    color: rgb(138, 115, 115);
    z-index: 2;
}

.popup2 h2 {
    color: rgb(138, 115, 115);
    font-family: 'Press Start 2p';
    margin-bottom: 20px;
    text-align: center;
    overflow: auto;
}

.popup2 .close2 {
    position: absolute;
    top: 5px;
    right: 10px;
    transition: all 100ms;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(138, 115, 115);
}

.popup2 .close1:hover {
    color: red;
}